body {
  height: 100%;
  min-height: 100%;
  /* cursor: none; */
  color: #000;
  background-color: #fff;
}


body{
  overflow-y: hidden;
}
.bigB{
display: flex;
}/* Navbar */
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;

}
.transform{
  margin-top: 10px;
  transform: rotate(90deg);
}
.p_transform{
  transform: rotate(-180deg);
}
.container{
  display:flex;
  justify-content: space-between;
  overflow-x: scroll;
    background: radial-gradient(yellow 10%,white 30%);
}
.hero{
  position: relative;
  right:40px;
  display: inline-block;
  flex-shrink: 0;
  width: 100vw;
  height:100vh;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.hero>h1{
  font-size: 10rem;
  color: red;
  font-style: italic;
  transition: font-size 0.5s;
  margin: 0px;
}
.lorem{
  color:black;
  transition: color 0.5s;
}
.hero>h1:hover{
  font-size: 11rem;  
}
.lorem:hover{color:red;}

.hero>form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;

}
form>button{
  display: flex;
  align-items: center;
  background: none;
  border: dotted;
  height:30px;
  padding-bottom: 0px;
  transition: background 0.5s, color 0.5s;
}
form>button:hover{
  background: red;
  color: white;
}
/* 
Text area */

.text_area{
  display: inline-block;
  flex-shrink: 0;
  width:100vw;
  height:100vh;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
}
.para{
  width:70vw;
}
.navbar>div{margin: 0px; padding: 0px;}
.navbar>div>p{
  margin:0px;
  padding: 0px;
}